* {
    margin: 0;
    padding: 0;
}

body{
    background: #37555A;
    color: #87AAAA;
}

html {
    font-size: 62.5%;
}

input, button{
    font-size: 1.3rem;
    min-width: 6rem;
    color: #000000;
}

/*Esta es la clase del Form que contiene 
todos los elementos a ser editados.
*/
.editProfileForm {
    background:#23363A;
    display: grid;
    grid-row-gap: 2rem;
    margin: 2rem auto 2rem auto;
    max-width: 60rem;
    padding-bottom:3rem;
    padding-top:3rem;
}

.editNamesBox {
    background: #23363A;
    display: flex;
    flex-direction: row;
}

.editNamesBox label {
    display: block;
    margin-right: 1rem;
}

.firstNameBox {
    background: #23363A;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.lastNameBox {
    background:#23363A;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.passBox {
    background: #23363A;
    display: flex;
    flex-direction: row;
}

.passBox label {
    display: block;
    margin-right: 1rem;
}

.oldPasswordBox {
    background: #23363A;
    margin-left: 5rem;
    padding: 1rem;
}

.directionBox {
    background: #23363A;
    margin-left: auto;
    margin-right: auto;
}

.directionBox2 {
    background: #23363A;
    margin-right: auto;
}

@media screen and (max-width: 619px) {
    .editProfileForm {
        width: 70rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
}