* {
    margin: 0;
    padding: 0;
}

body{
    background: #37555A;
    color: #87AAAA;
}

html {
    font-size: 62.5%;
}

input, button{
    font-size: 1.3rem;
    min-width: 6rem;
    color: #000000;
}

/*Esta es la clase del Form que contiene 
todos los elementos a ser editados.
*/
.editProfileForm {
    background:#23363A;
    display: grid;
    grid-row-gap: 2rem;
    margin: 2rem auto 2rem auto;
    max-width: 60rem;
    padding-bottom:3rem;
    padding-top:3rem;
}

.containerBox {
    background: #23363A;
    display: flex;
    flex-direction: row;
}

.containerBox label {
    display: block;
    margin-right: 1rem;
}

.leftContainerBox {
    background: #23363A;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.rightContainerBox {
    background:#23363A;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.passBox {
    background: #23363A;
    display: flex;
    flex-direction: row;
}

.passBox label {
    display: block;
    margin-right: 1rem;
}

.oldPasswordBox {
    background: #23363A;
    margin-left: 5rem;
    padding: 1rem;
}

.Buttons {
    cursor: pointer;
    display: flex;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
}

.disableAccBtn{ 
    background: #e33444;
    border:none;
    border-radius: 8px;
    color: white;
    font: 'Paralucent Bold';
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 10rem;    
}

.saveChangesBtn {
    background: #4e873e;
    border: none;
    border-radius: 8px;
    color: white;
    font: 'Paralucent Bold';
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}

.spaceLabel {
    padding:1rem 1rem 0 1rem;
}

button:focus {
    outline:0;
}
@media screen and (max-width: 619px) {
    .editProfileForm {
        width: 70rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
}