* {
    font-family: 'Paralucent Bold', 'Gotham Book', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: #37555A;
    color: #87AAAA;
    font-family: 'Paralucent Bold', 'Gotham Book', Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%;
}

input, button, select {
    color: #cdcaa6;
}

/*Esta es la clase del Form que contiene
los elementos de emailInput, emailLabel,
passwordInput y passwordLabel.
*/
.userDataForm {
    background:#23363A;
    display: grid;
    grid-row-gap: 2rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    max-width: 80rem;
    padding-bottom:3rem;
    padding-top:3rem;
}

/*Estas son las clases de los Labels de 
Email y Password.
*/
.emailLabel, .passwordLabel{
    color: #87aaaa;
    font: 'Paralucent Bold';
    font-size: 1.6rem;
    margin-left: 15rem;
    margin-right: auto;
}

/*Estas son las clases de los Inputs del
Email y de la Password.
*/
.emailInput, .passwordInput{
    color: black;
    font: 'Paralucent Bold';
    font-size: 1.6rem;
    margin-left: 15rem;
    margin-right: auto;
    padding: 1.2rem;
    width: 50rem;
}

/*Este es la clase del Botón que dará
acceso a la página principal del app.
*/
.loginButton{ 
    background: #4e873e;
    border:none;
    border-radius: 8px;
    color: white;
    font: 'Paralucent Bold';
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;    
}

.registerButton {
    background: #87aaaa;
    border: none;
    border-radius: 8px;
    color: white;
    font: 'Paralucent Bold';
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.6rem;
    width: 10rem;
}

.Buttons {
    cursor: pointer;
    display: flex;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
}

.orLabel {
    padding:1rem 1rem 0 1rem;
}

/*Foto del Logo de The Health Kitchen.*/
.Image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.6rem;
    margin-bottom: 2.6rem;
    background-image: url(logo.PNG);
    background-repeat: no-repeat;
    padding-top: 15rem;
    padding-right: 39rem;
    padding-bottom: 4rem;
}

button:focus {
    outline:0;
}

@keyframes fadeInOut {
    5%,95%{opacity: 1; top: 38rem}
    15%, 85%{opacity:1; top: 38rem} 
}

@media screen and (max-width: 69.5rem) {
    .userDataForm {
        width: 70rem;
    }
}