#HeaderEmpleado{
    background: url(http://www.healthkitchen.hn/static/media/hero-ingredients.9299118b.jpg) no-repeat center bottom;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 98vh;
    background-size: cover;
  }
  
  #hk-logo-header{
    display: block;
    width: 420px;
    height: 150px;
    text-indent: -9999px;
    background: url(https://i.gyazo.com/72a18ae2af8e3d1b705d944fbb93de69.png) no-repeat center;
    background-size: cover;
    margin: 10px 10px 10px 10px;
  }


  /* Menu */


  .MenuEmpleado{



    background: url(http://www.healthkitchen.hn/static/media/icon-wall.471f8b8e.svg);

    
  }

  

  .EmployeeCardColumn{
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding-top: 5%;
    padding-left: 15%;

    column-count: 3 !important;
    orphans: inherit !important;
    widows: inherit !important;

  }

  html button{
    display: flex;
    color: forestgreen;
  }


  .EmployeeCard{
      min-width: 40%;
      max-width: 70%;    
  }

  #InfoCliente{
    font-size: 1.5rem !important;
    color: #d86926 !important;
  }

  html hr{
    border-width: 3px;
    border-color: #d86926;
    opacity: 0.3;
  }

