#HeaderEmployee{
    background: url(http://www.healthkitchen.hn/static/media/hero-ingredients.9299118b.jpg) no-repeat center bottom;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 98vh;
    background-size: cover;
  }
  
  #hk-logo-header{
    display: block;
    width: 420px;
    height: 150px;
    text-indent: -9999px;
    background: url(https://i.gyazo.com/72a18ae2af8e3d1b705d944fbb93de69.png) no-repeat center;
    background-size: cover;
    margin: 10px 10px 10px 10px;
  }


  /* Menu */

  .MenuEmployee{


    
    background: url(http://www.healthkitchen.hn/static/media/icon-wall.471f8b8e.svg);

    background-color: #325157;
    
  }

  .EmployeeCardColumn{
   
    padding-top: 5%;
    padding-left: 15%;

    column-count: 2;
    orphans: inherit !important;
    widows: inherit !important;

  }

  @media only screen and (max-width: 800px){
    .EmployeeCardColumn{
      column-count: 1 !important;
      
    }
  }
  
  @media only screen and (min-width: 900px){
    .EmployeeCardColumn{
      column-count: 2 !important;
    }
  }

  .green{

  }

  .red{
    color: #d86926;
    font-size: 20px;
  }


  .RemovePlate{
    float: right;
    font-size: 100%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
  }


  .EmployeeCard{
      min-width: 40%;
      max-width: 70%;    
  }

  #InfoCliente{
    font-size: 1.5rem !important;
    color: #d86926 !important;
  }

  #btn-empleado{
    background-color:  #325157;
    border: none;
    font-size: 1em !important;
  }

  html hr{
    border-width: 3px;
    border-color: #d86926;
    opacity: 0.3;
  }

